$main-color: rgba(46,99,169,0.7); // #2e63a9 #4e81c5
$sub-main-color: #ffc107;
$org-color: #f2994a;
$gray-light-color: #828282;
$gray-color: #4f4f4f;
$green-color: #219653;
$purple-color: #bb6bd9;
$blue-color: #2f80ed;
$red-color: #ff0000;
$red-light-color: #eb5757;
$dark-color: #333333;
$dark-white-color: #f2f2f2;
